{{ $altText := .Get "alt"}}
{{ $caption := .Get "caption"}}
{{ $class := .Get "class"}}
{{ with $.Page.Resources.GetMatch (.Get "name") }}
  <figure class="{{$class}}">
    <img
      srcset="
        {{ (.Resize "390x").RelPermalink }} 390w,
        {{ (.Resize "800x").RelPermalink }} 800w,
        {{ (.Resize "2160x").RelPermalink }} 2160w"
      src="{{ (.Resize "800x").RelPermalink }}" alt="{{$altText}}" />
    {{- if $caption }}
    <figcaption><p>{{ $caption }}</p></figcaption>
    {{- end}}
  </figure>
{{ else }}
  could not find image
{{ end }}