.img-left {
    width: calc(50% - 0.5rem);
    float: left;
    margin-right: 0.5rem !important;
}

.img-right {
    width: calc(50% - 0.5rem);
    float: right;
    margin-left: 0.5rem !important;
}

h2, hr {
    clear: both;
}